.navigation_secondaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navigation_secondaire-droite {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navigation-recherche {
    max-width: 450px;
    height: fit-content;
}

.navigation-input-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation_principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--couleurBleuPrussian);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation_principal>ul {
    gap: 50px;
}

.navigation_principal * a {
    color: var(--couleurBlanc);
    list-style-type: none;
}

/*menu deroulant*/

.navigation-menu-deroulant {
    position: relative;
}

.navigation-menu-deroulant .navigation-conteneur-menu {
    position: absolute;
    top: 100%;
    background-color: var(--couleurGrisTimberwolf);
    color: var(--couleurbleucirulean);
    transition-property: opacity, translate;
    transition-duration: 200ms;
    border-radius: 10px;
    white-space: nowrap;
    padding: 5px;
}

.navigation-menu-deroulant:not(:hover) .navigation-conteneur-menu {
    translate: 0 -10px;
    opacity: 0;
    pointer-events: none;
}

.navigation-gachette {
    display: flex;
    flex-direction: row;
}

.navigation_principal>input.pour_ouvrir_fermer_bouton {
    appearance: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}