/*Utilitaires*/

/* * {
    outline: 1px dashed rgb(102, 229, 255);
} */

:root {
    --espace-inmense: 150px;
    --espace-grand: 89px;
    --espace-moyen: 67px;
    --espace-courant: 28px;
    --espace-petit: 16px;

    /*couleurs*/

    --couleurBleuPrussian: #003249;
    --couleurBleuDogger: #1d90ff;
    --couleurGrisTimberwolf: #d0cfcf;
    --couleurBlancSnow: #fffbfe;
    --couleurBlanc: #ffffff;
    --couleurbleucirulean: #007ea7;
}

html {
    font-family: "Lato", serif;
    line-height: 1.5625;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;
    gap: 40px;

    display: grid;
    grid-template-areas:
        "nav    nav     nav"
        "header header  header"
        "aside  main    main"
        "footer footer footer";
    grid-template-columns: max(20ch, 19%) 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    &>nav {
        grid-area: nav;
    }

    &>aside {
        grid-area: aside;
        margin-left: 20px;
    }

    &>header {
        grid-area: header;
    }

    &>footer {
        grid-area: footer;
    }

    &>main {
        grid-area: main;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*La typo*/
h1,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.h5 {
    color: var(--couleurBlanc);
}

a {
    text-decoration: none;
    color: var(--couleurBleuPrussian);
}

small {
    text-align: center;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.rosarivo-regular {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.rosarivo-regular-italic {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.titres {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/*Media*/

img {
    max-width: 100%;
}

.logo {
    width: 80px;
    height: auto;
}

.icon {
    width: 40px;
    height: auto;
}

.png {
    width: 25px;
    height: 25px;
}

.icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.drapeau {
    width: 30px;
    height: 25px;
}

/*Universal*/

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/*Rythme*/

header>* {
    margin-bottom: var(--espace-grand);
}

aside>* {
    margin-top: var(--espace-petit);
}

main>* {
    margin-top: var(--espace-petit);
}

footer>* {
    margin-top: var(--espace-courant);
}

footer>div:first-child {
    margin-top: var(--espace-inmense);
}

body>article>div {
    margin-top: 40px;
}

/*Boutons*/

.bouton {
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--couleurBleuDogger);
    color: var(--couleurBlanc);
    text-align: center;
    border: 0;
    font-family: "Lato", serif;
    width: fit-content;
    text-decoration: none;
}

.bouton:hover {
    background-color: var(--couleurGrisTimberwolf);
    color: var(--couleurBleuPrussian);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--couleurBleuPrussian);
}

input {
    font-family: "Lato", serif;
    font-size: 16px;
}



.main-Grille {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-basis: 300px;
}

.fiche-icon {
    width: 30px;
    height: auto;
}

.main-conteneur-principal {
    padding: 30px;
    gap: 70px;
    border: 0.5px solid #e0e0e0;
    border-radius: 7px;
    margin-right: 50px;
}

.main-plus-conteneur {
    border: 0.5px solid var(--couleurBleuPrussian);
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.main-plus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-button-next {
    color: var(--couleurBleuDogger);
    text-decoration: none;
}