/*Utilitaires*/

:root {
    --espace-inmense: 150px;
    --espace-grand: 89px;
    --espace-moyen: 67px;
    --espace-courant: 28px;
    --espace-petit: 16px;

    /*couleurs*/

    --couleurBleuPrussian: #003249;
    --couleurBleuDogger: #1d90ff;
    --couleurGrisTimberwolf: #d0cfcf;
    --couleurBlancSnow: #fffbfe;
    --couleurBlanc: #ffffff;
    --couleurbleucirulean: #007ea7;
}

html {
    font-family: "Lato", serif;
    line-height: 1.5625;
}

/*outline*/

/* * {
    outline: 1px dashed rgb(102, 229, 255);
} */

body {
    margin: 0;
    padding: 0;
    max-width: 1920px;

    display: grid;
    grid-template-areas:
        "nav         nav          nav"
        "header      header       header"
        "image      image         payment"
        "details      details     details"
        "plus        plus         plus"
        "footer      footer       footer";
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: auto auto auto auto auto auto;

    &>nav {
        grid-area: nav;
    }

    &>header {
        grid-area: header;
    }

    &>section {
        grid-area: image;
        padding: 20px;
        margin-left: 120px;
        display: flex;
        gap: 40px;
        border: 1.5px solid var(--couleurGrisTimberwolf);
        border-radius: 10px;
        margin-right: 20px;
    }

    &>.payment {
        grid-area: payment;
        padding: 25px;
        border: 1.5px solid var(--couleurGrisTimberwolf);
        border-radius: 10px;
        margin-right: 120px;
    }

    &>.carte_info {
        grid-area: details;
        padding: 25px;
    }

    &>.cartes-defilement {
        grid-area: plus;
        margin-left: 120px;
        margin-right: 120px;
    }

    &>footer {
        grid-area: footer;
    }
}

/*La typo*/
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.h3 {
    margin-bottom: 30px;
}

.h4 {
    color: var(--couleurBleuDogger);
}

.h5 {
    color: var(--couleurBlanc);
}

small {
    text-align: center;
    margin-bottom: var(--espace-courant);
    padding-bottom: 40px;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.rosarivo-regular {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.rosarivo-regular-grand {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.rosarivo-regular-italic {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.rosarivo-regular-italic-grande {
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
}

.titres {
    text-align: center;
    color: var(--couleurBleuPrussian);
}

/*Media*/

img {
    max-width: 100%;
}

.logo {
    width: 80px;
    height: auto;
}

.icon {
    width: 25px;
    height: auto;
}

.png {
    width: 25px;
    height: 25px;
}

.icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.drapeau {
    width: 35px;
    height: auto;
}

/*Universal*/

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.flex-block {
    display: block;
    text-align: center;
}

/*Rythme*/

header>* {
    margin-top: var(--espace-petit);
    margin-bottom: var(--espace-grand);
}

section {
    margin-top: var(--espace-grand);
}

.payment {
    margin-top: var(--espace-grand);

    &>div {
        margin-top: var(--espace-moyen);
    }
}

.cartes-defilement {
    margin-top: var(--espace-grand);

    &>div:first-child {
        margin-bottom: var(--espace-moyen);
    }
}

footer>* {
    margin-top: var(--espace-courant);
}

footer>div:first-child {
    margin-top: var(--espace-inmense);
}

plus>* {
    margin-top: var(--espace-moyen);
}

plus>div:first-child {
    margin-top: var(--espace-grand);
}

section>div:last-child {
    margin-bottom: var(--espace-moyen);
}

/*Boutons*/

.bouton {
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--couleurBleuDogger);
    color: var(--couleurBlanc);
    text-align: center;
    border: 0;
    font-family: "Lato", serif;
    width: fit-content;
    text-decoration: none;
}

.bouton:hover {
    background-color: var(--couleurGrisTimberwolf);
    color: var(--couleurBleuPrussian);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--couleurBleuPrussian);
}

input {
    font-family: "Lato", serif;
    font-size: 16px;
}

.bouton-encherir {
    width: 100px;
    height: auto;
    position: fixed;
    left: 100%;
    top: 0;
    translate: -110% 200%;
    z-index: 2;
}

.bouton-encherir:hover {
    width: 90px;
    height: auto;
    display: block;
    transition-duration: 0.2s;
}